
.hero-section {
    display: flex;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

.hero-left {
    flex: 1; /* Ocupa metade */
    height: 100%;
}

.hero-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-right {
    flex: 1; /* Ocupa metade */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    background-color: #fff;
}

.hero-right h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.hero-right p {
    font-size: 1.2rem;
    line-height: 1.8;
}
